@import url('index.css');

.container {
  padding: 1rem 5rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid var(--color-text-secondary);
}

.portfolio-name {
  font-family: var(--code-font);
  font-size: 2rem;
  font-weight: 500;
}

.portfolio-name span {
  color: var(--color-brand-1);
}

header nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

header nav a {
  text-decoration: none;
  transition: 0.2s;
  font-family: var(--code-font);
  font-weight: 400;
  color: var(--color-text-primary);
}

header nav a:hover {
  cursor: pointer;
  color: var(--color-brand-1);
}

.page-link {
  font-size: 1.5rem;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
}

.social-icon {
  color: var(--color-brand-1);
}
