@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --text-font: "Ubuntu", sans-serif;
  --code-font: "IBM Plex Mono", monospace;

  --color-brand-1: #12F7D6; /*#05F2DB; */        /* Destaque principal */
  --color-brand-2: #98FAEC;
  --color-grey: #43454D;     /* Contraste quente */

  --color-bg-primary: #292F36;      /* Fundo principal */
  --color-bg-secondary: #1A1E23;    /* Fundo de seções */

  --color-text-primary: #E6E6E6;    /* Texto principal */
  --color-text-secondary: #43454D;  /* Texto secundário */
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--text-font);
}
